* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    padding: 12px;
    font-size: 16px;
}

button {
    padding: 12px 20px;
    cursor: pointer;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card p {
    margin-top: 10px;
}

.hidden {
    display: none;
}

.navbar{
    background:#24292e;
    color:white;

    padding:15px 30px;

    display:flex;

    justify-content:space-between;

    align-items:center;
}

.navbar a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.navbar a:hover{
    text-decoration:underline;
}